 
  /* -------------------------------- Productos ------------------------------- */
  
  .tit {
    max-width: 1140px;
    margin: auto
  }
  
  h3 {
    font-size: 1.5rem;
    text-decoration-line: underline;
  }
  
  #sahumerios {
    margin-top: 2rem;
  }
  
  #sahumos {
    margin-top: 2rem;
  }
  
  #velas {
    margin-top: 2rem;
  }
  
  .item_img {
    width: 18rem;
    padding: 0.5rem 0.5rem;
  }
  
  /* ------------------------------ fin productos ----------------------------- */
  