* {
    margin: 0;
    padding: 0;
  }
  

  @import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Open+Sans:ital,wght@1,600;1,700&family=Slabo+27px&display=swap');

  
  body {
    font-family: "roboto";
    font-weight: 300;
    text-align: justify;
    background-color:   rgba(247, 244, 239, 0.904);
    font-size: 16px;
  }

  // colores 

  $colores: 
  #747c58, 
  rgb(243, 243, 225),
  rgb(219, 206, 161),
  #a3a59e77,
  rgb(148, 138, 138);




