 /* ------------------------------ inicio footer ----------------------------- */

 footer {
   background-color: nth($colores, 4);

   .foot {
     @include ubicacion (flex, space-between, flex-start, row);
     flex-wrap: wrap;
     max-width: 1140px;
     margin: auto;


     @media screen and (max-width: 576px) {
       @include ubicacion (flex, center, center, column-reverse);
     }

     .botonera_f {
       margin: 0em 0.5em;

       .botonera_f_tit {
         margin-top: 0.5rem;
         margin-bottom: 0.5rem;
         padding: 0.4em;
         font-size: 1.2em;
         border-bottom: 1px solid black;
       }

       ul {
         li {
           text-decoration: none;
           list-style: none;
           text-align: flex-start;
           padding: 0.2em;

           a {
             text-decoration: none;
             color: black;
           }
         }
       }

       @media screen and (max-width: 660px) {
         display: none;
       }
     }

     .redes {
       @include ubicacion (flex, center, center, column);
       margin: 0em 0.5em 0em 3em;

       @media screen and (max-width: 576px) {
         margin: 0.5em;
       }

       .redes_tit {
         margin-top: 0.5rem;
         padding: 0.4em;
         font-size: 1.2em;
         text-align: center;
         border-bottom: 1px solid black;
       }

       .redes_iconos {
         @extend %flexbox;
         padding-top: 2rem;

         .redes_link1 {
           padding: 0.5em;
           margin-bottom: 1.5em;

           .redes-img {
             width: 3.12em;
             filter: grayscale(1);

             &:hover {
               filter: grayscale(0);
             }
           }
         }
       }

       .logo-f {
         display: flex;
         margin-bottom: 1em;

         .logo-tit-f {
           font-size: 1.5em;
           color: darken(nth($colores, 4), 50%);
           font-family: 'Raleway', sans-serif;
           font-weight: bold;
           align-self: center;
           margin-bottom: 0em
         }
       }
     }

     .foot_contacto {
       @include ubicacion (flex, center, center, column);
       text-align: start;
       margin: 0em 0.5em;

       .foot_contacto_tit {
         margin-top: 0.5rem;
         margin-bottom: 1rem;
         padding: 0.4rem;
         font-size: 1.2em;
         text-align: center;
         border-bottom: 1px solid black;
       }

       .box-contacto {
         margin-left: 2em;

         .foot_contacto_iconos {
           @include ubicacion (flex, "", center, row);

           .icono {
             width: 30px;
           }

           h5 {
             text-align: center;
             font-size: 1em;
             font-weight: lighter;
             padding: 0.6rem;
           }
         }
       }
     }
   }
 }


 /* ------------------------------- fin footer ------------------------------- */