/* ---------------------------------- cuerpo home ---------------------------------- */
  
.text-carousel {
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    color: white
  }
  
  .container {
    max-width: 72em;
    margin: auto;
  }
  
  .cont-card {
    display: flex;
    flex-wrap: nowrap
  }
  
  .card-home {
    box-shadow: 0 0 30px 0 rgb(90, 88, 88);
  }
  
  @media screen and (max-width: 576px) {
    .row {
      max-width: 400px;
      margin: auto
    }
  }
  
  .card-img-top {
    transition: all 1s;
  }
  
  .card-img-top:hover {
    transform: scale(0.9);
  }
  
  .btn {
  @extend %boton
  }

  .img_nosotras {
    width: 100%;
     padding: 3em; 
  }
  
  .home-nosotras {
    padding: 2rem;
    text-align: center;
  }
  
  .btn.nos {
    @extend %boton;
    display: flex;
    justify-content: center;   
    padding: 0.6rem 0.8rem;
    margin: 1rem 4rem;
  }


    /* ----------------------------- fin cuerpo home ---------------------------- */