 /* -------------------------------- Productos ------------------------------- */

 .tit {
   max-width: 1140px;
   margin: auto;

   h2 {
     font-size: 2.5em;
     font-weight: bold;
     text-align: center;
     padding: 0.5em 0em;
     border-bottom: 1px solid gray;
     margin: 1em
   }

   @media screen and (max-width: 575px) {
   font-size: 14px;
  }
 }

 .prod-tit {
   margin: 2rem 0rem 0rem 5rem;

   @media screen and (max-width: 575px) {
    text-align: center;
    margin: 0em}
 }

 .card-row {
   @media screen and (max-width: 991px) {
     justify-content: center
   }

   .cont-card {
     display: flex;
     flex-wrap: nowrap;

     @media screen and (max-width: 575px) {
       justify-content: center;
     }
   }

   .card-home {
     @media screen and (max-width: 575px) {
       margin: 0rem 2rem;
       width: 70%;
       height: auto;
     }
   }
 }




 /* ------------------------------ fin productos ----------------------------- */